<!-- <p>personajes works!</p> -->
<hr>
<div>
<div class="row">
 <div class="col-lg-6">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Título</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of personajes">
                <td>{{item.fullName}}</td>     
                <td>{{item.title}}</td>            
            </tr>      
        </tbody>
    </table>
</div>
</div>
</div>